*{
    outline: 0px solid limegreen !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: white;
    width: 100vw;
}
h1{
    font-family: 'Courgette', cursive;
    font-family: 'Quicksand', sans-serif;
}
h2{
    
    font-family: 'Quicksand', sans-serif;

}
h3{
    font-family: 'Quicksand', sans-serif;

}
h4{
    font-family: 'Quicksand', sans-serif;

}
h5{
    font-family: 'Quicksand', sans-serif;

}
h6{
    font-family: 'Quicksand', sans-serif;

}