.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    border-bottom: 1px solid black;
    padding: 24px;
    gap: 130px;
    

}
.title {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.skoleoppgaver{
    
    max-width: 700px;
    
    margin: auto;


 
    
}
.oppgave {

    
    padding: 24px;
    background-color: whitesmoke;
    border-radius: 15px;
    gap: 24px;
    margin: 24px 0;
    

    
}

.oppgave img{
    width: 100%;
    padding: 24px 0;
}

.oppgave a{
    display: block;
}

