.sky{
    background-color: #F4F7FA;  
}

.figma-logo{
    width: 30px;
    position: absolute;
    top: 112px;
    left: 32px;
}

.groundCircle{
    width: 100vw;
    height: 1650px;
    background-color: #1E2B3C;
    border-radius: 500px;
}
.groundSquare{
    width: 100vw;
    height: 600px;
    background-color: #1E2B3C;
    position: absolute;
    bottom: 0;
    
}

main{
    width: 800px;
    margin: auto;
    position: relative;
    top: 400px;
    z-index: 2;
    color:#F4F7FA;
    display: flex;
    flex-direction: column;
    gap: 56px;
    text-align: center;
}

.LEKAG{
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    height: 300px;
}

.illustration{
    position: absolute;
    z-index: 1;
}

.problemstilling{
    width: 500px;
    margin: 24px auto;
    gap: 24;
    text-align: center;
}


.titletext{
    font-family: 'Mochiy Pop P One', sans-serif;
}


.solutionsgrid{
    display: grid;
    grid-template-columns: 140px auto ;

    text-align: left;
    gap: 56px;

    

    
}
.studieteknikker{
    display: flex;
    gap: 16px;
}
.studieteknikker img{
    width: 130px;
}

.WCAGtree{
    display: flex;
    gap: 16px;
}
.WCAGtree img{
    border-radius: 50%;
    width: 130px;
}

.prototype{
    display: flex;
    justify-content: space-around;

}

.prototype img{
    width: 220px;
    height: 400px;
    border-radius: 12px;
    
    
}
